@charset "utf-8";
/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	display: block;
}

/* GLOBAL CSS */
.main {
	width: 960px;
	margin: auto;
}

/* HEADER CSS */
#header {
	background: url(../img/menu-bg.png);
	height: 40px;
	border-bottom: 5px solid black;
}
.menu {
	padding-top: 5px;
}

.menu ul{
	width:80%;
	float:right;
	margin-top:5px;
	color:#FFF!important;
	
}
.menu ul li{ 
	/*display: inline-block; */
	float:left;
	color:#FFF!important;
	margin-left:5px;
	font-family:'MyriadPro-BoldCond',Sans-Serif;
	font-size:20px;
	}
.menu ul li a{ 
	color:#FFF!important;
	text-decoration:none;
	
	}

/* BANNER CSS */

#banner {
	height: 400px;
	background: url(../img/banner-bg.jpg) center;
	
}

.follow {
	float: right;
	padding: 33px 55px 0px 0px;
}

.follow li {
	float: left;
	margin: 3px;
}

/* HIGHLIGHTS CSS */

#highlights {
	margin-top: -90px;
}
.webdevelopment {
	height:250px!important;
	
}


#highlights li {
	float: left;
	margin: 20px 5px 0px 5px;
}



#webfree .highlights{
	background: #efefef url(../img/webFree.jpg);
}
#webfree .highlights p {
	background: #587c26;
}
#webfree .highlights h3 {
	color: #587c26;
}



#webpro .highlights{
	background: #efefef url(../img/webPro.jpg);
}
#webpro .highlights p {
	background: #587c26;
}
#webpro .highlights h3 {
	color: #587c26;
}



#webpre .highlights{
	background: #efefef url(../img/webPremium.jpg);
}
#webpre .highlights p {
	background: #587c26;
}
#webpre .highlights h3 {
	color: #587c26;
}



#psd .highlights{
	background: #efefef url(../img/webPSD-XHTML.jpg);
}
#psd .highlights p {
	background: #587c26;
}
#psd .highlights h3 {
	color: #587c26;
}



#webdesign .highlights{
	background: #efefef url(../img/webDesign.jpg);
}
#webdesign .highlights p {
	background: #587c26;
}
#webdesign .highlights h3 {
	color: #587c26;
}



#redesign .highlights{
	background: #efefef url(../img/webReDesign.jpg);
}
#redesign .highlights p {
	background: #587c26;
}
#redesign .highlights h3 {
	color: #587c26;
}


#webdev .highlights{
	background: #efefef url(../img/highlights-webdev.jpg);
}
#webdev .highlights p {
	background: #587c26;
}
#webdev .highlights h3 {
	color: #587c26;
}

#software .highlights{
	background: #efefef url(../img/highlights-software.jpg);
}
#software .highlights p {
	background: #001e45;
}
#software .highlights h3 {
	color: #001e45;
}

#outsource .highlights{
	background: #efefef url(../img/highlights-outsource.jpg);
}
#outsource .highlights p {
	background: #b03d19;
}
#outsource .highlights h3 {
	color: #b03d19;
}


.software {
	height:60px!important;
	
}
#bio .highlights{
	background: #efefef url(../img/software/softBio.jpg);
}
#bio .highlights p {
	background: #b03d19;
}
#bio .highlights h3 {
	color: #b03d19;
}

#inventory .highlights{
	background: #efefef url(../img/software/softInventory.jpg);
}
#inventory .highlights p {
	background: #b03d19;
}
#inventory .highlights h3 {
	color: #b03d19;
}

#softSMS .highlights{
	background: #efefef url(../img/software/softSMS.jpg);
}
#softSMS .highlights p {
	background: #b03d19;
}
#softSMS .highlights h3 {
	color: #b03d19;
}




.highlights {
	margin: auto;
	width: 298px;
	height: 200px;
	border: 5px solid white;
	overflow: hidden;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: inset 0px 0px 7px 1px rgba(00, 00, 00, .5);
	-moz-box-shadow: inset 0px 0px 7px 1px rgba(00, 00, 00, .5);
	box-shadow: inset 0px 0px 7px 1px rgba(00, 00, 00, .5);
	
	font-family: "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
}

.highlights h1 {
	color: white;
	font: bold 60px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	text-decoration: none;
	margin: 0px 0px 0px 5px;
	
	text-shadow: 1px 1px 5px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1)
}

.highlights h2 {
	color: white;
	font: bold 30px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	margin: -10px 0px 10px 10px;
	
	text-shadow: 1px 1px 5px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1)
}

.highlights h3 {
	font: bold 30px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	padding: 10px;
	margin: -5px 0px 65px 0px;
	
	background: rgba(255, 255, 255, 0.5);
}

.highlights p {
	color: white;
	font: normal 14px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	padding: 10px;
	height: 90px;
	
	line-height: 17px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

.highlights p i {
	float: right;
	padding-top: 20px;
	text-decoration: underline;
	font: normal 14px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
}

.highlights a {
	margin-top: -115px;
	text-decoration: none;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.highlights a:hover {
	margin-top: 0px;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}




#addon {
	margin:auto; 
	margin-top:65px; 
	width:960px;
}


#addon ul li {
	float: left;
}


#seo{
	background: url(../img/add-on-bg.png);
	width:232px;
	height:171px;
	margin: 0px 42px 0px 42px;
}

#seo div{
	width:70%; 
	margin:auto; 
	margin-top:50px; 
	text-align:center;
}

#seo div a{
	font: bold 21px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	text-decoration:none;
	color:#000;
}
#seo div a b{
	font: bold 35px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
}


/* FEATURES */

#featured {
	background: #253554;
	height: 260px;
	margin-top: 230px;
	padding-top: 10px;
	border-bottom: 5px solid white;
}

#featured .content {
	width: 520px;
	float: left;
}

#featured .softwarecontent {
	width:650px!important;
}

#featured #softwarebox{
	width:341px;
	height:275px;
	float:left;
	background:url(../img/software/software-bg.png)
}

#featured .paddingtop {
	padding-top:15px;
}

#featured .content h1 {
	color: #e1ee0a;
	font: bold 60px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	text-decoration: none;
	margin: 0px 0px 0px 5px;
}

#featured .content h2 {
	color: white;
	font: bold 30px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	margin: -10px 0px 10px 10px;
}

#featured .content p {
	color: white;
	font: normal 14px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	margin-left: 10px;
	line-height: 17px;
}
#featured .content img {
	margin-left: 10px;
	margin-top: 30px;
}
.featured {
	width: 390px;
	height: 245px;
	background: url(../img/featured-bg.png);
	float: right;
}

.features {
	position:relative;
	width: 370px;
	height: 203px;
	margin:auto;
	padding-top: 10px;
	overflow: hidden;
}

.features img {
	position:absolute;
	left:0;
	top:10;
}

/* CLIENTS CSS */
#clients {
	background: url(../img/clients-bg.png);
	height: 300px;
	padding: 30px;
}

#clients .content {
	width: 520px;
	float: left;
}

#clients .content h1 {
	color: #702620;
	font: bold 60px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	text-decoration: none;
	margin: 0px 0px 0px 5px;
}

#clients .content h2 {
	color: #963934;
	font: bold 30px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	margin: -10px 0px 10px 10px;
}

#clients .content p {
	color: black;
	font: normal 14px/100% "Century Gothic", Myriad Pro, Verdana, Tahoma, sans-serif;
	margin-left: 10px;
	line-height: 17px;
}
#clients .content img {
	margin-left: 10px;
	margin-top: 30px;
}

.clients {
	width: 400px;
	float: right;
	margin-right: -8px;
}
.clientlist li{
	background:#fff;  
	float:left;  
	display:block;  
	border:1px solid #fff;  
	
	-webkit-box-shadow: 0px 0px 5px 1px rgba(00, 00, 00, .3);
-moz-box-shadow: 0px 0px 5px 1px rgba(00, 00, 00, .3);
box-shadow: 0px 0px 5px 1px rgba(00, 00, 00, .3);
	margin:5px;  
	padding:0;  
	
}

.clientlist li p{
	border:1px solid #fff;  

	margin:0;  
	padding:5px;
}

.clientlist li a{
	display:block;  
	color:#fff;  
	text-decoration:none;  
	padding:0;
}

.clientlist img{
	width:107px;  
	height:107px;  
	margin:0;  
	padding:0;
}

.clientrepage {
	width: 70px;
	margin: auto;
}

.clientrepage li{
	width: 12px;
	height: 12px;
	float:left;  
	display:block; 
	overflow: hidden;
	margin: 10px 2px;
}

.clientrepage .active img{ 
	margin-top: -12px;
}


/* FOOTER */
#footer {
	background: url(../img/footer-bg.png);
	height: 200px;
	padding: 10px;
	border-top: 5px solid #dfdcdf;
}